
#container, #container2 {
  width: 1000px;
  /*height: 140px;*/
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

/*#container {
  margin-left: 50px;
}*/

/*#container2 {
  margin-right: 50px;
}*/

p {
  font-size: 100px;
  font-family: 'Karla', sans-serif;
  color: white;
  padding: 30px;
  background-color: black;
}

.red {
  height: 100px;
  border: 10px black solid;
  width: 450px;
  margin: 10px auto;
  background-color: red;
}

.green {
  height: 100px;
  border: 10px black solid;
  width: 450px;
  margin: 10px auto;
  background-color: green;
}

.blue {
  height: 100px;
  border: 10px black solid;
  width: 450px;
  margin: 10px auto;
  background-color: blue;
}

.button {
  height: 100px;
  border: 10px black solid;
  width: 450px;
  margin: 10px auto;
  background-color: grey;
}

#remove {
  position: absolute;
  left: 265px;
}
